<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="vradb"
    connectionString="Data Source=DESKTOP-DBBKU2E; 
    Initial Catalog=manager_1;
    User ID=man_1;
    Password=123"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>