USE [master]
GO
/****** Object:  Database [accounts]    Script Date: 08/01/2017 20:38:05 ******/
CREATE DATABASE [accounts] ON  PRIMARY 
( NAME = N'accounts', FILENAME = N'D:\SQLDB\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\accounts.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'accounts_log', FILENAME = N'D:\SQLDB\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\accounts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [accounts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [accounts]
GO
/****** Object:  User [account]    Script Date: 08/01/2017 20:38:05 ******/
CREATE USER [account] FOR LOGIN [account] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [acc]    Script Date: 08/01/2017 20:38:05 ******/
CREATE USER [acc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 08/01/2017 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[login] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL,
 CONSTRAINT [XPKaccount] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
